body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

h2 {
  font-size: 30px;
  margin: 5% 0 2% 5%;

}

input {
  display: block;
  padding: 1% 3%;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6%;
}

button {
  background-color: #428bca;
  color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #357ebd;
  border-radius: 8%;
  white-space: nowrap;
  padding: 2% 4%;
  font-size: 16px;
}

button[ disabled ] {
  background-color:grey;
  border: none;
}

.default-wrapper {
  color: inherit;
  background-color: #eee;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/*navigation*/

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 5vh;
  overflow: visible;
  background-color: #333;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  float: right;
  width: 10vw;
}

.nav-menu a {
  color: white;
  text-decoration: none !important;
}

/*login*/

.login-wrapper {
  top: 136px;
  width: 50vw;
  height: 30vh;
  padding: 30px;
  margin: 0 auto 30px;
  overflow: hidden;
}

.login-container {
  margin: 4% auto 0;
  padding: 0 2%;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 96%;
  height: 34px;
}

.logout-confirm {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-top: 12%;
}

.logout-btn {
  margin: 4% 0 0 39%;
}


/*states*/

.states-wrapper {
  top: 5vh;
  width: 100vw;
}
.states-box {
  height: 28vh;
  line-height: 1.5;
  width: 89vw;
  margin: 0 auto;
}

.states-list {
  list-style-type: none;
  font-size: 18px;
}

.states-row {
  float: left;
  width: 17vw;
  margin: 0;
  padding: 0;
}

.states-row a {
  text-decoration: none;
  color: #333;
}

.states-row a:hover {
  color: rgb(178, 19, 92);
}

.states-input {
  width: 25%;
  height: 1.5%;
  margin: 0 0 2% 5%;
  font-size: 18px;
}

/*individual states*/

.individual-state-container {
  width: 80vw;
  margin: 0 auto;
}

h4 {
  text-align: center;
  font-size: 36px;
  margin: 0;
}

.individual-details {
  display: block;
  text-align: center;
  font-size: 18px;
}

.individual-img {
  display: block;
  margin: 1% auto 3%;
}

/*guestbook*/

.guestbook-wrapper {
  display: flex;
  flex-direction: column;
  top: 5vh;
  height: inherit;
}

.guestbook-form {
  float: right;
  width: 34vw;
  position: absolute;
  top: 7%;
  left: 67%;
}

.guestbook-inputs {
  margin-top: 6%;
  width: 88%;
}

.guestbook-entry {
  width: 60vw;
  float: left;
  background-color: white;
  margin: 0 0 4% 5%;
}

.guestbook-message {
  display: inline-block;
  -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
  padding: 5%;
  font-size: 24px;
  width: 55vw;
}

.guestbook-user, .guestbook-phone {
  display: inline-block;
  text-transform: capitalize;
}

.guestbook-user {
  padding: 0 8% 2% 3%;
}

/*errors*/
.help-block {
  color: #a94442;
}

.has-error .form-input:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .form-input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
