<div class='default-wrapper guestbook-wrapper'>
  <h2>Guest Book</h2>
  <div class='guessbook-container'>
    <div class='guestbook-entry' ng-repeat='guest in guestbook'>

      <span class='guestbook-message'>
        {{guest.message}}
      </span>
      <span class='guestbook-user'>
        Written By:  {{guest.user}}
      </span>
      <span class='guessbook-phone'>
        Phone Number:  {{guest.phone}}
      </span>
    </div>
  </div>

  <div class='guestbook-form' ui-view='form'></div>
</div>
